<h2>Reset Your Password</h2>
<form method="post">
    {% csrf_token %}
    {% if notloggedin %}
    <p>Input your username and reset keyword</p>
    <p><label>Username: </label><input type="text" name="username"></p>
    <p><label>Reset Keyword: </label><input type="text" name="reset"></p>
    {% endif %}
    <p>Input your new password</p>
    <p><label>New Password: </label><input type="password" name="new_pw1"></p>
    <p><label>Confirm Password: </label><input type="password" name="new_pw2"></p>
    <br>
    <button type="submit">Reset Password</button>
</form>
<button onclick="location.href='/'">Back</button>
{% if doesntexist %}
<h2>User doesn't exist..</h2>
{% endif %}
{% if doesntmatch %}
<h2>The two password fields didn't match.</h2>
{% endif %}
{% if wrongreset %}
<h2>The reset keyword is wrong.</h2>
{% endif %}
{% if notvalid %}
<h2>{{ errormsg }}</h2>
{% endif %}